defaults/flow.json
[{
	"id": "3e77d543.c1882a",
	"type": "ibmiot in",
	"authentication": "quickstart",
	"apiKey": "",
	"inputType": "evt",
	"deviceId": "",
	"applicationId": "",
	"deviceType": "+",
	"eventType": "+",
	"commandType": "",
	"format": "json",
	"name": "IBM IoT App In",
	"service": "quickstart",
	"allDevices": false,
	"allApplications": false,
	"allDeviceTypes": true,
	"allEvents": true,
	"allCommands": false,
	"allFormats": false,
	"x": 251,
	"y": 291,
	"z": "d4428eef.2bbd7",
	"wires": [["ae0082ac.51ff8",
	"c0c482df.3f3b8"]]
},{
	"id": "ae0082ac.51ff8",
	"type": "function",
	"name": "temp",
	"func": "return {payload:msg.payload.d.temp};",
	"outputs": 1,
	"valid": true,
	"x": 424.5,
	"y": 337,
	"z": "d4428eef.2bbd7",
	"wires": [["ff6ad0d9.00953"]]
},{
	"id": "ff6ad0d9.00953",
	"type": "switch",
	"name": "temp thresh",
	"property": "payload",
	"rules": [{
		"t": "lte",
		"v": 40,
		"v2": null
	},
	{
		"t": "gt",
		"v": 40,
		"v2": null
	}],
	"checkall": "true",
	"outputs": 2,
	"x": 590.5,
	"y": 337,
	"z": "d4428eef.2bbd7",
	"wires": [["80621eff.7f9de"],
	["8e1706a.f71e8f8"]]
},{
	"id": "5dad02b7.a252fc",
	"type": "debug",
	"name": "cpu status",
	"active": true,
	"complete": "false",
	"x": 901.5,
	"y": 334,
	"z": "d4428eef.2bbd7",
	"wires": []
},{
	"id": "c0c482df.3f3b8",
	"type": "debug",
	"name": "device data",
	"active": true,
	"console": "false",
	"complete": "true",
	"x": 441.5,
	"y": 247,
	"z": "d4428eef.2bbd7",
	"wires": []
},{
	"id": "80621eff.7f9de",
	"type": "template",
	"name": "safe",
	"template": "Temperature ({{payload}}) within safe limits",
	"x": 754.5,
	"y": 288,
	"z": "d4428eef.2bbd7",
	"wires": [["5dad02b7.a252fc"]]
},{
	"id": "8e1706a.f71e8f8",
	"type": "template",
	"name": "danger",
	"template": "Temperature ({{payload}}) critical",
	"x": 753.5,
	"y": 382,
	"z": "d4428eef.2bbd7",
	"wires": [["5dad02b7.a252fc"]]
}]